/* Base Styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

/* Grid System */
.full-width {
  width: 100%;
}

/* Header */
header {
  background-color:#ffc296;
  width: 100%;
  display: flex;
  flex-direction: row;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-size: 55px;
  color:#0d2238;
  text-transform: uppercase;
  padding-left: 10px;
}

header nav ul li {
  list-style: none;
  padding: 10px 0;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color:#0d2238;
}

header nav ul li a:hover {
  color: #30688b;
}

/* Book Sign */
#book-sign {
  width: 100%;
  background-image: url("https://vignette.wikia.nocookie.net/disney/images/1/14/Enchanted-disneyscreencaps.com-11635.jpg/revision/latest?cb=20110901004243");
  background-size: cover;
  background-position: center center;
  height: 500px;
}

/* Newsletter */
#newsletter  {
  background-color: #ffc296;
  width: 100%;
  padding: 20px 0;
  height: 400px;
}

#newsletter h3 {
  text-align: center;
  font-size: 35px;
  font-family: "Playfair Display", serif;
  color: #0d2238;
}

#newsletter p {
  text-align: center;
  font-size: 20px;
}

#newsletter input {
  width: 70%;
  margin-left: 10px;
}

#newsletter button {
  font-size: 20px;
  background-color: #30688b;
  color: #fff;
}

/* Best Seller */
#best-seller {
  width: 100%;
}

#best-seller img {
  padding-left: 45px;
}

#best-seller h2 {
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  color: #0d2238;
  text-align: center;
  text-transform: uppercase;
}

#best-seller {
  font-size: 20px;
  line-height: 30px;
}

/* Enchanted */
#enchanted {
  width: 100%;
}

#enchanted h2 {
  font-size: 45px;
  font-family: "Playfair Display", serif;
  color: #0d2238;
  text-align: center;
}

#enchanted p {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 15px;
}

#enchanted img {
  height: 600px;
}

/* News */
#news {
  width: 100%;
}

#news h2 {
  font-size: 45px;
  font-family: "Playfair Display", serif;
  color: #0d2238;
  text-align: center;
}

#news h3 {
  font-size: 35px;
  font-family: "Source Sans Pro", sans-serif;
  color: #333;
}

#news p {
  font-size: 20px;
  line-height: 30px;
}

/* Directory */
#directory {
  border: 2px solid red;
  width: 100%;
}

#directory h2 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  color: #0d2238;
  text-align: center;
  text-transform: uppercase;
}
