/* Base Styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

/* Grid System */
.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 30%;
  float: left;
}
